spring:
  application:
    name: gatewayserver

  cloud:
    config:
      enabled: false

    discovery:
      enabled: true

    gateway:
      discovery:
        locator:
          enabled: false
          lower-case-service-id: true
#      routes:
#        - id: r1
#          uri: lb://MARQUE
#          predicates:
#            - Path=/api/marques/**
#        - id: r2
#          uri: lb://PC
#          predicates:
#            - Path=/api/pcs/**

server:
  port: 8888

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    gateway:
      access: unrestricted

resilience4j:
  circuitbreaker:
    configs:
      default:
        sliding-window-size: 10
        permitted-number-of-calls-in-half-open-state: 2
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
    instances:
      gatewayCircuitBreaker:
        base-config: default
