version: '3.9'

services:
  mysqldb:
    image: mysql
    container_name: mysqldb
    ports:
      - "3307:3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test

  marques-ms:
    build: ./marque-microservice
    container_name: marques-ms
    ports:
      - "8090:8090"
    environment:
      SPRING_DATASOURCE_URL: "jdbc:mysql://mysqldb:3306/test"
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: root
    depends_on:
      mysqldb:
        condition: service_healthy
